<head>
	<style>
		@media screen and (min-width: 600px) {
			.footer-bottom{
		    	position: fixed;
		    }
		    .footer-bottom{
		    	position: fixed;
		    }
		}
	</style>
</head>
<body>
	<div class="container">
		<div id="contact_message_success" class="alert alert-success d-none"></div>
		<div id="contact_message_error" class="alert alert-danger d-none"></div>
			<form class="well form-horizontal" onSubmit="return send_message(event);" method="POST" id="contact_form">
				<fieldset>
					<legend>Contactez-nous</legend>
					
					<!--input nom -->
					<div class="form-group">
					    <div class="col-md-8 inputGroupContainer">
					    	<div class="input-group">
					 			<input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
					 	   </div>
					 	 </div>
					</div>

					<!-- input email -->
					<div class="form-group">
					    <div class="col-md-8 inputGroupContainer">
					    	<div class="input-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
					 	   </div>
					 	 </div>
					</div>

					<!-- numero de telephone -->
					<div class="form-group">
					    <div class="col-md-8 inputGroupContainer">
					    	<div class="input-group">
								<input type="number" class="form-control" id="mobile" name="mobile" placeholder="votre numero de telephone" required>
					 	   </div>
					 	 </div>
					</div>

					<!-- input objet -->
					<div class="form-group">
					    <div class="col-md-8 inputGroupContainer">
					    	<div class="input-group">
					 			<input type="text" class="form-control" id="subject" name="subject" placeholder="Objet" required>
					 	   </div>
					 	 </div>
					</div>

					<!-- input Message -->
					<div class="form-group">
					    <div class="col-md-8 inputGroupContainer">
					    	<div class="input-group">
			                    <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
			                    <span class="help-block"><p id="characterLeft" class="help-block ">respectez votre limite!!</p></span>  
					 	   </div>
					 	 </div>
					</div>

 					<button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>

				</fieldset>
			</form>
	</div>
</body>
