<head>
	<style>
		#legend_formu_one:hover{background-color: #DCDCDC;}
		#legend_formu_one:hover{cursor: pointer;}
		#legend_formu_two:hover{background-color: #DCDCDC;}
		#legend_formu_two:hover{cursor: pointer;}
		#legend_formu_three:hover{background-color: #DCDCDC;}
		#legend_formu_three:hover{cursor: pointer;}
	</style>

	<script>
		getNumBagById(1);

		function getNvVaccin(){
		    console.log('je suis sur getNvVaccin');
		    getNumBagById(1);

		  	var vacc = document.getElementById("vaccination_form");
		    var rapp = document.getElementById("rappelle_form");
		    var listVacc = document.getElementById("list_form");
		    vacc.classList.add("d-block");
		    vacc.classList.remove("d-none");

		    rapp.classList.add("d-none");
		    rapp.classList.remove("d-block");

		    listVacc.classList.add("d-none");
		    listVacc.classList.remove("d-block");

		    var leg = document.getElementById("legend_formu_one");
		    $(leg).css('background-color', '#DCDCDC');
		    var lego = document.getElementById("legend_formu_two");
		    $(lego).css('background-color', '');
		    var legoo = document.getElementById("legend_formu_three");
		    $(legoo).css('background-color', '');
		};

		function getRappelle(){
			getListVaccinUrgentById(1);

		    console.log('je suis sur getRappelle');

		    var rapp = document.getElementById("rappelle_form");
		    var vacc = document.getElementById("vaccination_form");
		    var listVacc = document.getElementById("list_form");
		    rapp.classList.add("d-block");
		    rapp.classList.remove("d-none");

		    vacc.classList.add("d-none");
		    vacc.classList.remove("d-block");

		    listVacc.classList.add("d-none");
		    listVacc.classList.remove("d-block");

		    var leg = document.getElementById("legend_formu_two");
		    $(leg).css('background-color', '#DCDCDC');
		    var lego = document.getElementById("legend_formu_one");
		    $(lego).css('background-color', '');
		    var legoo = document.getElementById("legend_formu_three");
		    $(legoo).css('background-color', '');

			var mess = document.getElementById("vaccination_message_success");
			mess.classList.add("d-none");
			mess.classList.remove("d-block");

			var message = document.getElementById("vaccination_message_error");
			message.classList.add("d-none");
			message.classList.remove("d-block");
		};

		function getListVaccin(){
			console.log('je suis sur getListVaccin');

			getListVaccinById(1);

		  	var vacc = document.getElementById("vaccination_form");
		    var rapp = document.getElementById("rappelle_form");
		    var listVacc = document.getElementById("list_form");
		    listVacc.classList.add("d-block");
		    listVacc.classList.remove("d-none");

		    rapp.classList.add("d-none");
		    rapp.classList.remove("d-block");

		    vacc.classList.add("d-none");
		    vacc.classList.remove("d-block");

		    var leg = document.getElementById("legend_formu_three");
		    $(leg).css('background-color', '#DCDCDC');
		    var lego = document.getElementById("legend_formu_two");
		    $(lego).css('background-color', '');
		    var legoo = document.getElementById("legend_formu_one");
		    $(legoo).css('background-color', '');

		    var mess = document.getElementById("vaccination_message_success");
			mess.classList.add("d-none");
			mess.classList.remove("d-block");

			var message = document.getElementById("vaccination_message_error");
			message.classList.add("d-none");
			message.classList.remove("d-block");
		};
	</script>
</head>
<body>
	<div class="container d-block" id="form_modif" >
		<div id="vaccination_message_success" class="alert alert-success d-none"></div>
		<div id="vaccination_message_error" class="alert alert-danger d-none"></div>
		
		<form class="well form-horizontal d-block" onSubmit="return send_vaccination(event);" method="POST" id="vaccination_form">
			<fieldset>
				<!-- Form Name legend -->
				<legend id="legend_formu_one" class="col-md-4" onclick="getNvVaccin()">Nouvelle Vaccination</legend>
				<legend id="legend_formu_two" class="col-md-4" onclick="getRappelle()">Rappelle</legend>
				<legend id="legend_formu_three" class="col-md-4" onclick="getListVaccin()">List Vaccin</legend>

				<!-- Text input N bague-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="numero_bague" >N° Bague</label> 
				    <div class="col-md-4 inputGroupContainer">
				        <div class="input-group">
				    		<span class="input-group-addon"><i class="glyphicon "></i></span>
							<select class="form-control form-control-lg" id="numero_bague" name="numero_bague">
							  <option data-icon="glyphicon" value="" ></option>
							</select>
				 	    </div>
				    </div>
				</div>

				<!-- Text input date de vaccination-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="date_vaccination">Date de vaccination</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					 		<span class="input-group-addon"><i class="glyphicon "></i></span>
					 		<input class="form-control" type="date" value="2011-08-19" id="date_vaccination" name="date_vaccination">
					    </div>
				    </div>
				</div>

				<!-- Text input date de prochaine vaccin-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="date_prochaine_vaccination">Prochaine Vaccin</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					 		<span class="input-group-addon"><i class="glyphicon "></i></span>
					 		<input class="form-control" type="date" value="2011-08-19" id="date_prochaine_vaccination" name="date_prochaine_vaccination">
					    </div>
				    </div>
				</div>

				<!-- Text input Description-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="description">Description</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					 		<span class="input-group-addon"><i class="glyphicon "></i></span>
					 		<textarea  placeholder="description" class = "form-control" id="description" name="description"></textarea>
					    </div>
				    </div>
				</div>

				<!-- Text input Terminé par-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="termine_par">Terminé par</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon"></i></span>
							<input id="termine_par" name="termine_par" placeholder="terminer par" class="form-control" type="text">
					    </div>
				    </div>
				</div>

				<!-- Text input Médication-->
 				<div class="form-group">
				    <label class="col-md-4 control-label" for="medication">Médication</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon"></i></span>
					        <input id="medication" name="medication" placeholder="médication" class="form-control" type="text">
					    </div>
				    </div>
				</div>

				<!-- Text input Dosage-->
 				<div class="form-group">
				    <label class="col-md-4 control-label" for="dosage">Dosage</label>  
				    <div class="col-md-4 inputGroupContainer">
					    <div class="input-group">
					        <span class="input-group-addon"><i class="glyphicon "></i></span>
					        <input id="dosage" name="dosage" placeholder="dosage" class="form-control" type="text">
					    </div>
				    </div>
				</div>

				<!-- Text input contre quoi-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="contre" >Contre </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="contre" placeholder="Vaccin contre ..." class="form-control"  type="text" id="contre" >
				 	    </div>
				 	</div>
				</div>


				<!-- Text input commentaire-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="commentaire_vaccination">Commentaire</label>  
				    <div class="col-md-4 inputGroupContainer">
				        <div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <textarea id="commentaire_vaccination" name="commentaire_vaccination"  placeholder="commentaire" class = "form-control" ></textarea>
				 	    </div>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>
					</div>
				</div>
			</fieldset>
		</form>

		<form class="well form-horizontal d-none" method="POST" id="rappelle_form">
			<fieldset>
				<!-- Form Name legend -->
				<legend id="legend_formu_one" class="col-md-4" onclick="getNvVaccin()">Nouvelle Vaccination</legend>
				<legend id="legend_formu_two" class="col-md-4" onclick="getRappelle()">Rappelle</legend>
				<legend id="legend_formu_three" class="col-md-4" onclick="getListVaccin()">List Vaccin</legend>

				<table class="table table-hover:black table-bordered">
					<thead class="thead-dark">
					  <tr>
					      <th scope="col">N° Bague</th>
					      <th scope="col">Date de vaccin</th>
					      <th scope="col">Date de prochaine vaccin</th>
					      <th scope="col">Commentaire</th>
					  </tr>
					</thead>

					<tbody class="well" id="tableVaccinUrgent" >
					</tbody> 
				</table>
			</fieldset>
		</form>

	    <form class="well form-horizontal d-none" method="POST" id="list_form">
			<fieldset>
				<!-- Form Name legend -->
				<legend id="legend_formu_one" class="col-md-4" onclick="getNvVaccin()">Nouvelle Vaccination</legend>
				<legend id="legend_formu_two" class="col-md-4" onclick="getRappelle()">Rappelle</legend>
				<legend id="legend_formu_three" class="col-md-4" onclick="getListVaccin()">List Vaccin</legend>

				<table class="table table-hover:black table-bordered">
					<thead class="thead-dark">
					  <tr>
					      <th scope="col">N° Bague</th>
					      <th scope="col">Date de vaccin</th>
					      <th scope="col">Date de prochaine vaccin</th>
					      <th scope="col">Commentaire</th>
					  </tr>
					</thead>

					<tbody class="well" id="tableVaccin" >
					</tbody> 
				</table>
			</fieldset>
		</form>
	</div>
	<!-- /.container -->
</body>