<head>
	<script>
		getUserById(localStorage.getItem("userId"));
	</script>
</head>
<body>
	<div class="container">
		<div id="user_message_success" class="alert alert-success d-none"></div>
		<div id="user_message_error" class="alert alert-danger d-none"></div>
		<form class="well form-horizontal" onSubmit="return send_user(event);" method="POST" id="contact_form">
			<fieldset>
				<!-- Form Name legend -->
				<legend>A Propos de vous </legend>

				<!-- Text input NOM-->
				<div class="form-group">
				  <label class="col-md-4 control-label" >Nom </label> 
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input id="last_name" name="last_name" placeholder="Nom" class="form-control"  type="text">
				    </div>
				  </div>
				</div>
						
				<!-- Text input PRENOM-->
				<div class="form-group">
				  <label class="col-md-4 control-label" >Prenom</label> 
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input id="first_name" name="first_name" placeholder="Prenom" class="form-control"  type="text">
				    </div>
				  </div>
				</div>

				<!-- Text input E-MAIL-->
				<div class="form-group">
				  <label class="col-md-4 control-label">E-Mail</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				  <input id="email" name="email" placeholder="Votre-Adresse" class="form-control"  type="email">
				    </div>
				  </div>
				</div>

				<!-- Text input TELEPHONE-->
				<div class="form-group">
				  <label class="col-md-4 control-label">Telephone #</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
				 		 <input id="phone" name="phone" placeholder="(212)645462285" class="form-control" type="number">
				    </div>
				  </div>
				</div>

				<!-- Text input ADRESSE-->
				<div class="form-group">
				  <label class="col-md-4 control-label">Adresse</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
				  <input id="address" name="address" placeholder="Addresse" class="form-control" type="text">
				    </div>
				  </div>
				</div>

				<!-- Text input pays-->
 				<div class="form-group">
				  <label class="col-md-4 control-label" for="pays">Pays</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="fas fa-globe"></i></span>
				        <input id="countries_states" name="countries_states" placeholder="pays" class="form-control input-medium bfh-countries" type="text">
				    </div>
				  </div>
				</div>

				<!-- Text input VILLE-->
 				<div class="form-group">
				  <label class="col-md-4 control-label" for="ville">Ville</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="fas fa-globe"></i></span>
				       <input id="countries_city" name="countries_city" placeholder="ville" class="form-control input-medium bfh-countries" type="text"></select>
				    </div>
				  </div>
				</div>


				<!-- Text input-->
				<div class="form-group">
				    <label class="col-md-4 control-label">Code Postal</label>  
				    <div class="col-md-4 inputGroupContainer">
				    <div class="input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></span>
				        <input id="zip" name="zip" placeholder="Code Postal" class="form-control"  type="text">
				    </div>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label"></label>
				  <div class="col-md-4">
				    <button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>
				  </div>
				</div>
			</fieldset>
		</form>
	</div><!-- /.container -->
</body>