<body>
   	<div class="container">
   		<div id="nv_naissance_message_success" class="alert alert-success d-none"></div>
		<div id="nv_naissance_message_error" class="alert alert-danger d-none"></div>
		<form class="well form-horizontal" onSubmit="return send_naissance(event);" method="post" id="naissance_form">
			<fieldset>
				<legend>Nouvelle naissance</legend>

				<!-- Text input date-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="date_nv_naiss" >Date </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input class="form-control" name="date_nv_naiss" type="date" value="19-08-2011" id="date_nv_naiss">
				 	    </div>
				 	 </div>
				</div>

				<!-- Text input copain-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="copain" >Copain </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="copain" placeholder="Copain" class="form-control"  type="text" id="copain" >
				 	    </div>
				 	</div>
				</div>

				<!-- Text input serie-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="serie" >Série </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="serie" placeholder="Série" class="form-control"  type="text" id="serie" >
				 	    </div>
				 	</div>
				</div>

				<!-- Text input nid-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="nid" >Nid </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="nid" placeholder="Nid" class="form-control"  type="text" id="nid" >
				 	    </div>
				 	</div>
				</div>

				<!-- Text input commentaire-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="commentaire" >Commentaire </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<textarea name="commentaire" class = "form-control" id="commentaire"></textarea>
				 	    </div>
				 	</div>
				</div>

				<!-- Text input pose-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="pose" >Posé </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 	    	<input name="pose" placeholder="Posé" class="form-control"  type="text" id="pose" >
				 	    </div>
				 	</div>
				</div>

				<!-- Text input eclos-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="eclos" >Eclos </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="eclos" placeholder="Eclos" class="form-control"  type="text" id="eclos" >
				 	   </div>
				 	</div>
				</div>

				<!-- Text input numero_bague-->
				<div class="form-group">
				    <label class="col-md-4 control-label" for="numero_bague" >N° de bague </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			<span class="input-group-addon"><i class="glyphicon "></i></span>
				 			<input name="numero_bague" placeholder="N° de bague" class="form-control"  type="text" id="numero_bague" >
				 	    </div>
				 	</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>
					</div>
				</div>	
			</fieldset>
		</form>
   	</div>
</body>