<body>
   	<div class="container">
		<form class="well form-horizontal" action=" " method="post"  id="contact_form">
			<fieldset>
				<legend>Nouvelle naissance</legend>

								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="couleur" >Date </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Date" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>

								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="sexe" >Copain </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Copain" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>

								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="souche" >Série </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Série" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>

								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="pigeonnier" >Nid </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Nid" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>


												<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="supplement" >Commentaire </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <textarea name="" class = "form-control" id="Supplement"></textarea>
				 	   </div>
				 	 </div>
				</div>



								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="pere" >Posé </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Posé" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>

								<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="mere" >Eclos </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="Eclos" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>



												<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="mere" >N° de bague </label> 
				    <div class="col-md-4 inputGroupContainer">
				    	<div class="input-group">
				 			 <span class="input-group-addon"><i class="glyphicon "></i></span>
				 			 <input name="" placeholder="N° de bague" class="form-control"  type="text">
				 	   </div>
				 	 </div>
				</div>

												<!-- Button -->
				<div class="form-group">
				  <label class="col-md-4 control-label"></label>
				  <div class="col-md-4">
				    <button type="submit" class="btn btn-warning" >Ajouter <span class="glyphicon glyphicon-send"></span></button>
				  </div>
				</div>
				

              </div>



			</fieldset>
		</form>
   	</div>
</body>