<head>
    <script>
        function getNettoyage(){
          console.log('je suis sur getNettoyage');
          var nett = document.getElementById("form_nettoyage");
          nett.classList.add("d-block");
          nett.classList.remove("d-none");

          var lisNett = document.getElementById("form_list_nettoyage");
          lisNett.classList.add("d-none");
          lisNett.classList.remove("d-block");

          var leg = document.getElementById("legend_formu_one");
          $(leg).css('background-color', '#DCDCDC');

          var lego = document.getElementById("legend_formu_two");
          $(lego).css('background-color', '');
        }

        function getListNettoyage(){

            getNettoyageById(localStorage.getItem("userId"));
          console.log('je suis sur getListNettoyage');
          var lisNett = document.getElementById("form_list_nettoyage");
          
          lisNett.classList.add("d-block");
          lisNett.classList.remove("d-none");

          var nett = document.getElementById("form_nettoyage");
         
          nett.classList.add("d-none");
          nett.classList.remove("d-block");

          var leg = document.getElementById("legend_formu_one");
          $(leg).css('background-color', '');
          
          var lego = document.getElementById("legend_formu_two");
          $(lego).css('background-color', '#DCDCDC');


        var mess = document.getElementById("nettoyage_message_success");
        mess.classList.add("d-none");
        mess.classList.remove("d-block");

        var message = document.getElementById("nettoyage_message_error");
        message.classList.add("d-none");
        message.classList.remove("d-block");

        }
    </script>

    <style>
      #legend_formu_one:hover{background-color: #DCDCDC;}
      #legend_formu_one:hover{cursor: pointer;}
      #legend_formu_two:hover{background-color: #DCDCDC;}
      #legend_formu_two:hover{cursor: pointer;}
    </style>
</head>
<body>
    <div class="container">
        <div id="nettoyage_message_success" class="alert alert-success d-none"></div>
        <div id="nettoyage_message_error" class="alert alert-danger d-none"></div>
        <form class="well d-block form-horizontal" onSubmit="return send_nettoyage(event);" method="POST" id="form_nettoyage">
            <fieldset>
                <!-- Form Name legend -->
                <legend id="legend_formu_one" class="col-md-4" onclick="getNettoyage()">Nettoyage</legend>
                <legend id="legend_formu_two" class="col-md-4" onclick="getListNettoyage()">List des Nettoyages</legend>
 
                <!-- date input-->
                <div class="form-group col-md-12">
                    <label class="col-md-4 control-label" for="date_nettoyage" >Date </label> 
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-text-date"></i></span>
                            <input class="form-control" name="date_nettoyage" type="date"  id="date_nettoyage">
                        </div>
                    </div>
                </div>
        
                <!-- cause input-->
                <div class="form-group col-md-12">
                     <label class="col-md-4 control-label" for="cause_nettoyage" >Cause </label> 
                     <div class="col-md-4 inputGroupContainer">
                         <div class="input-group">
                              <span class="input-group-addon"></span>
                              <input name="cause_nettoyage" placeholder="cause de nettoyage" class="form-control"  type="text" id="cause_nettoyage">
                          </div>
                      </div>
                </div>
            
                <!-- Produit select-->    
                <div class="form-group col-md-12">
                        <label class="col-md-4  control-label" for="produit" >Produit </label> 
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon "></i></span>
                                <select name="produit" class="form-control form-control-lg" id="produit">
                                    <option data-icon="glyphicon ">Anti-parasite</option>
                                    <option data-icon="glyphicon ">Anti-seplique</option>
                                </select>
                            </div>
                         </div>
                </div> 

                <!-- Text input commentaire-->
				        <div class="form-group col-md-12">
                        <label class="col-md-4 control-label" for="commentaire" >Commentaire </label> 
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                 <span class="input-group-addon"><i class="glyphicon "></i></span>
                                 <textarea name="commentaire" class = "form-control" id="commentaire"></textarea>
                             </div>
                         </div>
                </div>
                
                <!-- Button -->
                <div class="form-group col-md-12">
                     <label class="col-md-4 control-label"></label>
                     <div class="col-md-4">
                         <button type="submit" class="btn btn-warning" >Ajouter <span class="glyphicon glyphicon-send"></span></button>
                     </div>
                </div>
            </fieldset>
        </form>

        <form class="well d-none form-horizontal" method="POST" id="form_list_nettoyage">
            <fieldset>
                <!-- Form Name legend -->
                <legend id="legend_formu_one" class="col-md-4" onclick="getNettoyage()">Nettoyage</legend>
                <legend id="legend_formu_two" class="col-md-4" onclick="getListNettoyage()">List des Nettoyages</legend>

                <table class="table table-hover:black table-bordered">
                    <thead class="thead-dark">
                      <tr>
                          <th scope="col">Date</th>
                          <th scope="col">Cause de Nettoyage</th>
                      </tr>
                    </thead>

                    <tbody class="well" id="tableListNettoyage" >
                    </tbody> 
                </table>
            </fieldset>       
        </form>
    </div>
</body>