<head>
  <style>
    #legend_formu_one:hover{background-color: #DCDCDC;}
    #legend_formu_one:hover{cursor: pointer;}
    #legend_formu_two:hover{background-color: #DCDCDC;}
    #legend_formu_two:hover{cursor: pointer;}
  </style>

  <script>
    function getAccouplement(){

      console.log('je suis sur getAccouplement');
      var pond = document.getElementById("form_pondaison");

      var lego = document.getElementById("legend_formu_two");
      $(lego).css('background-color', '#DCDCDC');
      var leg = document.getElementById("legend_formu_one");
      $(leg).css('background-color', '');
      
      pond.classList.add("d-none");
      pond.classList.remove("d-block");

      var accoup = document.getElementById("form_accouplement");
     
      accoup.classList.add("d-block");
      accoup.classList.remove("d-none");

      var mess = document.getElementById("pondaison_message_success");
      mess.classList.add("d-none");
      mess.classList.remove("d-block");

      var message = document.getElementById("pondaison_message_error");
      message.classList.add("d-none");
      message.classList.remove("d-block");
    };

    function getPondaison(){
      getNumeroCoupleById(1);
      console.log('je suis sur getPondaison');
      var accoup = document.getElementById("form_accouplement");

      var leg = document.getElementById("legend_formu_one");
      $(leg).css('background-color', '#DCDCDC');
      var lego = document.getElementById("legend_formu_two");
      $(lego).css('background-color', '');
      
      accoup.classList.add("d-none");
      accoup.classList.remove("d-block");
      var pond = document.getElementById("form_pondaison");
      
      pond.classList.add("d-block");
      pond.classList.remove("d-none");

      var mess = document.getElementById("pondaison_message_success");
      mess.classList.add("d-none");
      mess.classList.remove("d-block");

      var message = document.getElementById("pondaison_message_error");
      message.classList.add("d-none");
      message.classList.remove("d-block");
    };

    function getvalPond(sel){
      console.log(sel.value);
      getCoupleById(sel.value,1);
      
      /*var num = document.getElementById("numero_couple");
      var male = document.getElementById("male");
      var female = document.getElementById("female");
      if(!num)
      {
        female.value="";
        male.value="";
      }*/
    };

    getNumeroCoupleById(1);
    getFemalePigeonById(1);
    getMalePigeonById(1);
  </script>
</head>
<body>
  <div class="container">
    <div id="pondaison_message_success" class="alert alert-success d-none"></div>
    <div id="pondaison_message_error" class="alert alert-danger d-none"></div>

    <form class="well d-block form-horizontal" onSubmit="return send_pondaison(event);" method="POST" id="form_pondaison">
      <fieldset>
        <!-- Form Name legend -->
        <legend id="legend_formu_one" class="col-md-4" onclick="getPondaison()">Nouvelle Pondaison</legend>
        <legend id="legend_formu_two" class="col-md-4" onclick="getAccouplement()">Accouplement</legend>
        
        <!-- Text input N bague-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="numero_couple" >N° couple</label> 
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon "></i></span>
                <select class="form-control form-control-lg" id="numero_couple" name="numero_couple" onchange="getvalPond(this);">
                  <option data-icon="glyphicon" value=""></option>
                </select>
              </div>
            </div>
        </div>

        <!-- Text input female-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="female" >Female</label> 
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon "></i></span>
                <input class="form-control form-control-lg" id="female" name="female" readonly/>
              </div>
            </div>
        </div>

        <!-- Text input Male-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="male" >Male</label> 
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon "></i></span>
                <input class="form-control form-control-lg" id="male" name="male" readonly/>
              </div>
            </div>
        </div>

        <!-- Text input date oeuf1-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="date_oeuf_one">Date Oeuf1</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon "></i></span>
              <input class="form-control" type="date" value="2011-08-19" id="date_oeuf_one" name="date_oeuf_one">
              </div>
            </div>
        </div>

        <!-- Text input date oeuf2-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="date_oeuf_two">Date Oeuf2</label>  
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon "></i></span>
              <input class="form-control" type="date" value="2011-08-19" id="date_oeuf_two" name="date_oeuf_two">
              </div>
            </div>
        </div>

        <!-- Text input Nid-->
        <div class="form-group col-md-12">
            <label class="col-md-4 control-label" for="nid" >Nid</label> 
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon "></i></span>
              <select class="form-control form-control-lg" id="nid" name="nid">
                <option data-icon="glyphicon">Garder</option>
                <option data-icon="glyphicon">Echangé</option>
              </select>
              </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group col-md-12">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>
      </fieldset>
    </form>

    <form class="well d-none form-horizontal" onSubmit="return send_accouplement(event);" method="POST" id="form_accouplement">
      <fieldset>
        <!-- Form Name legend -->
        <legend id="legend_formu_one" class="col-md-4" onclick="getPondaison()">Nouvelle Pondaison</legend>
        <legend id="legend_formu_two" class="col-md-4" onclick="getAccouplement()">Accouplement</legend>
        
        <div>
          <!-- Text input female-->
          <div class="form-group col-md-12">
              <label class="col-md-4 control-label" for="female_acco" >female</label> 
              <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon "></i></span>
                <select class="form-control form-control-lg" id="female_acco" name="female_acco">
                  <option data-icon="glyphicon" value="" ></option>
                </select>
                </div>
              </div>
          </div>

          <!-- Text input Male-->
          <div class="form-group col-md-12">
              <label class="col-md-4 control-label" for="male_acco" >Male</label> 
              <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon "></i></span>
                <select class="form-control form-control-lg" id="male_acco" name="male_acco">
                  <option data-icon="glyphicon" value="" ></option>
                </select>
                </div>
              </div>
          </div>

          <!-- Text input date oeuf1-->
          <div class="form-group col-md-12">
              <label class="col-md-4 control-label" for="date_accouplement">Date Accouplement</label>  
              <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon "></i></span>
                <input class="form-control" type="date" value="2011-08-19" id="date_accouplement" name="date_accouplement">
                </div>
              </div>
          </div>

          <!-- Text input N couple-->
          <div class="form-group col-md-12">
              <label class="col-md-4 control-label" for="numero_couple" >N° couple</label> 
              <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon "></i></span>
                <input class="form-control form-control-lg" id="numero_couple" name="numero_couple">
                </div>
              </div>
          </div>

          <!-- Button -->
          <div class="form-group col-md-12">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-warning" >Valider <span class="glyphicon glyphicon-send"></span></button>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div><!-- /.container -->
</body>