<head>
    <script>
        getTraitementPigeonById(1);
        
        function getTraitement(){

          console.log('je suis sur getTraitement');
          getTraitementPigeonById(1);

          var trai = document.getElementById("list_form_traitement");
          trai.classList.add("d-none");
          trai.classList.remove("d-block");

          var traitfor = document.getElementById("traitement_form");
          traitfor.classList.add("d-block");
          traitfor.classList.remove("d-none");

          document.getElementById("legend_formule_one").style.color = "blue";
          document.getElementById("legend_formule_two").style.color = "";
        }

        function getListTraitement(){
          getTraitementById(1);
          console.log('je suis sur get ListTraitement');
          var trai = document.getElementById("list_form_traitement");
          
          trai.classList.add("d-block");
          trai.classList.remove("d-none");

          var traitfor = document.getElementById("traitement_form");
         
          traitfor.classList.add("d-none");
          traitfor.classList.remove("d-block");

          var mess = document.getElementById("traitement_message_success");
          mess.classList.add("d-none");
          mess.classList.remove("d-block");

          var message = document.getElementById("traitement_message_error");
          message.classList.add("d-none");
          message.classList.remove("d-block");

          document.getElementById("legend_formule_two").style.color = "blue";
          document.getElementById("legend_formule_one").style.color = "";
        }
    </script>

    <style>
        #legend_formule_one:hover{background-color: #DCDCDC;}
        #legend_formule_one:hover{cursor: pointer;}

        #legend_formule_two:hover{background-color: #DCDCDC;}
        #legend_formule_two:hover{cursor: pointer;}
    </style>
</head>
<body>
    <div class="container">
        <div id="traitement_message_success" class="alert alert-success d-none"></div>
        <div id="traitement_message_error" class="alert alert-danger d-none"></div>
        <form class="well d-block form-horizontal" onSubmit="return send_Traitement(event);" method="post" id="traitement_form">
                    <fieldset>
                        <!-- Form Name legend -->
                        <legend id="legend_formule_one" class="col-md-4" onclick="getTraitement()">Traitement</legend>
                        <legend id="legend_formule_two" class="col-md-4" onclick="getListTraitement()">List_des_Traitements</legend>

                        <!-- Text input numero de traitement-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="numero_traitement" >N° de Traitement</label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <input name="numero_traitement" placeholder="numero de traitement" class="form-control"  type="text" id="numero_traitement" >
                                </div>
                            </div>
                        </div>

                        <!-- Text input date-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="date_traitement" >Date de Traitement </label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <input class="form-control" name="date_traitement" type="date" value="2011-08-19" id="date_traitement">
                                </div>
                             </div>
                        </div> 

                        <!-- Text input concrné-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="traitement_concerne" >Concerné</label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <select class="form-control form-control-lg" id="traitement_concerne" name="traitement_concerne">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Text input contre-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="traitement_contre" >Contre </label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <input name="traitement_contre" placeholder="traitement contre" class="form-control"  type="text" id="traitement_contre" >
                                </div>
                            </div>
                        </div>

                        <!-- Text input produit-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="traitement_produit" >Produit </label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <input name="traitement_produit" placeholder="produit de traitement" class="form-control"  type="text" id="traitement_produit" >
                                </div>
                            </div>
                        </div>

                        <!-- Text input effet-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="traitement_effet" >Effet</label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <select class="form-control form-control-lg" id="traitement_effet" name="traitement_effet">
                                      <option data-icon="glyphicon" value="" >Efficace</option>
                                      <option data-icon="glyphicon" value="" >Sequelle</option>
                                      <option data-icon="glyphicon" value="" >autre</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Text input commentaire-->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label" for="commentaire_traitement" >commentaire</label> 
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon "></i></span>
                                    <textarea name="commentaire_traitement" placeholder="..." class ="form-control" id="commentaire_traitement"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group col-md-12">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning" >Valider<span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>
                    </fieldset>
        </form>

        <form class="well form-horizontal d-none" method="POST" id="list_form_traitement">
            <fieldset>
                <!-- Form Name legend -->
                <legend id="legend_formule_one" class="col-md-4" onclick="getTraitement()">Traitement</legend>
                <legend id="legend_formule_two" class="col-md-4" onclick="getListTraitement()">List_des_Traitements</legend>

                <table class="table table-hover:black table-bordered">
                    <thead class="thead-dark">
                      <tr>
                          <th scope="col">N° de traitement</th>
                          <th scope="col">Date de traitement</th>
                          <th scope="col">traitement Concerné</th>
                          <th scope="col">Commentaire</th>
                      </tr>
                    </thead>

                    <tbody class="well" id="tableTrait" >
                    </tbody> 
                </table>
            </fieldset>
        </form>
    </div>
    <!-- /.container -->
</body>